html, body{
	margin: 0;
	padding: 0;
	background: #e5e5e5;
	text-align: center;
}

/* all elements inside minion are absolutely positioned */
#minion *{ position: absolute; }

/* body */
#minion{
	position: relative;
	display: block;
	width: 200px;
	height: 250px;
	margin: 70px auto;
	
	/* bottom of the body is rounded */
	border-radius: 0 0 25px 25px;
	
	background: #ffec1a;
	
	zoom: 1.8;
}

/* top of the head */
#minion:before{
	content: "";
	position: absolute;
	display: block;
	width: 200px;
	height: 100px;
	top: -50px;
	
	/* head is an oval */
	border-radius: 100px / 50px;
	
	background: #ffec1a;
}

/* arms */
#minion .arm{
	width: 80px;
	height: 15px;
	top: 130px;
	
	background: #ffec1a;
}
#minion .left.arm{
	left: 0;
	-webkit-transform-origin: 0 100% 0;
	-webkit-transform: rotate(120deg);
}
#minion .right.arm{
	right: 0;
	-webkit-transform-origin: 100% 100% 0;
	-webkit-transform: rotate(-120deg);
}

#minion .arm:after{ content: ""; position: absolute; top: 0; width: 10px; height: 10px; background: black; }
#minion .right.arm:after{ left: 0; }
#minion .left.arm:after{ right: 0; }

/* pants - bottom*/
#minion:after{
	content: "";
	position: absolute;
	display: block;
	width: 200px;
	height: 40px;
	bottom: 0;
	border-radius: 0 0 25px 25px;
	
	background: teal;
}
/* pants - flap */
#minion .pants{
	width: 100px;
	height: 45px;
	left: 50px;
	bottom: 40px;
	
	background: teal;
}
/* pants - straps */
#minion .pants:before, #minion .pants:after{
	content: "";
	position: absolute;
	width: 10px;
	height: 65px;
	top: 5px;
	
	-webkit-transform-origin: 50% 0 0;
	
	background: teal;
}
#minion .pants:before{ left: 0; -webkit-transform: rotate(118deg); border-radius: 0 0 15px/10px 0;}
#minion .pants:after{ right: 0; -webkit-transform: rotate(-118deg); border-radius: 0 0 0 15px/10px;}


/* legs with pants */
#minion .left.foot{ left: 45px; }
#minion .right.foot{ right: 45px; }
#minion .foot{
	width: 20px;
	height: 0;
	top: 250px;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 30px solid teal;
}

/* shoes */
#minion .foot:after{
	content: "";
	position: absolute;
	width: 40px;
	height: 20px;
	border-radius: 40px / 5px;
	border-top-left-radius: 40px;
	border-top-right-radius: 40px;
	left: -10px;
	top: -12px;
	background: #503A18;
}

/* eyes and goggles */
#minion .left.eye{ left: 20px; }
#minion .right.eye{ right: 20px; }
#minion .eye{
	top: 12px;
	width: 50px;
	height: 50px;
	border-radius: 50px;
	
	/* goggles */
	border: 18px solid lightgray;
	
	background: white;
}

/* eye irises */
#minion .eye:after{
	content: "";
	position: absolute;
	width: 15px;
	height: 15px;
	border-radius: 15px;
	
	background: black;
	/* colored part */
	border: 8px solid teal;
	
	top: 14px;
	left: 14px;
}

/* goggle straps */
#minion .eye:before{
	content: "";
	position: absolute;
	width: 20px;
	height: 20px;
	top: 14px;
	background: #503A18;
	
	/* stitching */
	border-top: 1px dotted lightgray;
	border-bottom: 1px dotted lightgray;
	box-shadow: 0px 0px 0 2px #503A18;
}
#minion .left.eye:before{ left: -38px; border-radius: 1px 0 0 1px; }
#minion .right.eye:before{ right: -38px; border-radius: 0 1px 1px 0; }

/* mouth */
#minion .mouth{
	background: black;
	margin: 0 auto;
	left: 50px;
	top: 105px;
	width: 100px;
	height: 50px;
	border-radius: 40px / 5px;
	border-bottom-left-radius: 45px;
	border-bottom-right-radius: 45px;
}

/* teeth */
#minion .mouth:before, #minion .mouth:after{
	content: "";
	position: absolute;
	background: white;
	width: 15px;
	height: 12px;
	border-radius: 0 0 2px 2px;
}
#minion .mouth:before{ left: 34px; }
#minion .mouth:after{ right: 34px; }